<div class="row">
	<div class="col-xs-12">
		<img src="{{listItem?.imagePath}}" alt="" class="img-responsive">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h1>{{listItem?.name}}</h1>
	</div>
	<div class="col-xs-12">
		<button class="btn btn-primary">Edit</button>
		<button class="btn btn-danger">Archive</button>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-xs-12">
		<p>{{listItem?.description}}</p>
	</div>
</div>
<div class="row">
Items
	<div class="col-xs-12" 
	*ngFor="let item of listItem?.listItems">	
		{{ item.itemName }} - {{ item.itemAmount }}
	</div>
</div>